body {
    background-image: url(res/greyWashWall.png);
    color: white;
}

button {
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18px;
}

input {
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid white;
    float: right;
    min-width: 100px;
}

canvas {
    border: 1px solid white;
    width: 100%;
    height: auto;
}
